{% extends "base.html" %}

{% block title %}
About | Israel Chukwu
{% endblock %}

{% block content %}

<!-- Hero -->
{% include "includes/about/hero.html" %}

<!-- Biography -->
{% include "includes/about/biography.html" %}

<!-- Journey -->
{% include "includes/about/journey.html" %}

<!-- Experience -->
{% include "includes/about/experience.html" %}

<!-- Tech Stack -->
{% include "includes/about/tech_stack.html" %}

<!-- Fun Facts -->
{% include "includes/about/fun_facts.html" %}

<!-- Call To Action -->
{% include "includes/about/cta.html" %}

{% endblock %}