{% load static %}

<div class="relative flex justify-center items-center">

    <div
        class="glass-card p-3">

        <img
            src="{% static 'images/profile2.png' %}"
            class="rounded-[1.5rem]"
            alt="Israel">

    </div>

    <div
        class="glass-card absolute -left-8 top-8 p-5 float">

        <h3
            class="font-bold text-orange-400">

            Full Stack

        </h3>

        <p class="text-sm text-gray-300">

            Django • React

        </p>

    </div>

    <div
        class="glass-card absolute -right-6 bottom-16 p-5 float">

        <h3
            class="font-bold text-orange-400">

            ABA, Nigeria

        </h3>

    </div>

    <div
        class="glass-card absolute left-8 bottom-0 p-5 float">

        <h3
            class="font-bold text-orange-400">

            Open to Work

        </h3>

        <p
            class="text-sm text-gray-300">

            Freelance & Remote

        </p>

    </div>

</div>