@keyframes floatSlow{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-15px);

    }

    100%{

        transform:translateY(0);

    }

}

.float{

    animation:floatSlow 5s ease-in-out infinite;

}

@keyframes pulseGlow{

    0%{

        box-shadow:0 0 0 rgba(249,115,22,0);

    }

    50%{

        box-shadow:0 0 30px rgba(249,115,22,.35);

    }

    100%{

        box-shadow:0 0 0 rgba(249,115,22,0);

    }

}

.glow{

    animation:pulseGlow 3s infinite;

}