/* ==========================
        WRAPPERS
========================== */

.blob-wrapper{

    position:absolute;

    width:700px;

    height:700px;

    animation:blobFloat 55s ease-in-out infinite;

    will-change:transform;

}

/* ==========================
        BLOBS
========================== */

.blob{

    width:100%;

    height:100%;

    border-radius:9999px;

    filter:blur(140px);

    opacity:.35;

    transition:transform .25s ease-out;

    will-change:transform;

    mix-blend-mode:screen;

}

/* ==========================
        COLORS
========================== */

.blob-orange-wrapper{

    top:-250px;

    left:-180px;

}

.blob-orange{

    background:#f97316;

}

.blob-blue-wrapper{

    right:-220px;

    top:18%;

    animation-delay:-8s;

}

.blob-blue{

    background:#2563eb;

}

.blob-purple-wrapper{

    bottom:-220px;

    left:30%;

    animation-delay:-14s;

}

.blob-purple{

    background:#9333ea;

}

/* ==========================
      FLOAT ANIMATION
========================== */

@keyframes blobFloat{

    0%{

        transform:
        translate(0,0)
        rotate(0deg)
        scale(.9);

    }

    25%{

        transform:
        translate(120px,-80px)
        rotate(45deg)
        scale(1.15);

    }

    50%{

        transform:
        translate(-90px,80px)
        rotate(120deg)
        scale(.85);

    }

    75%{

        transform:
        translate(80px,60px)
        rotate(220deg)
        scale(1.05);

    }

    100%{

        transform:
        translate(0,0)
        rotate(360deg)
        scale(1);

    }

}