<div class="tech-card">

    <i class="fa-brands fa-html5 text-orange-500"></i>

    <span>HTML5</span>

</div>

<div class="tech-card">

    <i class="fa-brands fa-css3-alt text-blue-500"></i>

    <span>CSS3</span>

</div>

<div class="tech-card">

    <i class="fa-brands fa-js text-yellow-400"></i>

    <span>JavaScript</span>

</div>

<div class="tech-card">

    <i class="fa-brands fa-git-alt text-orange-500"></i>

    <span>Git</span>

</div>

<div class="tech-card">

    <i class="fa-brands fa-github"></i>

    <span>GitHub</span>

</div>

<div class="tech-card">

    <i class="fa-solid fa-server text-purple-400"></i>

    <span>REST API</span>

</div>

<div class="tech-card metric">

    📦

    <span>28 GitHub Repositories</span>

</div>

<div class="tech-card metric">

    💡

    <span>Problem Solver</span>

</div>